body{background-image: url(../img/backs.jpg); 
    background-size: contain;
    background-size: auto;
    background-attachment: fixed;


}

.container {
	
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
}
header {
	padding: 20px 0;

}
.logo {
width: 70px;

}



.stiky img{
	width: 170px;
}
.stiky{
	 position: sticky;
	 top: 0px;
	 left: 0px;
	 
}

.navbar-li{
	color: yellow;
	
	width: 70px;
	margin-right: 10px;
	transition: color  0.5s ease;
}
.navbar-li:hover{
	color: white;
	width: 70px;
}



.endgame{
     
    display: flex;
	justify-content: center;
	height:500px;
	align-items: center;

}

.end{ 
	height: 500px;
	


}

.end:hover{
border: solid: red;
width: 500px;

}

.HISTORY{
	display: flex;

  flex-direction: column;
	



}

.title{
	width: 20px;
	color: red;
	padding: 20px 0;
    
}
.title:hover{
	color: white;
	width: 70px;
}

.wikipedia{
	width: auto;
	color: red;
	padding: 20px 0;

}

.wikipedia:hover{
	color: white;
	
}

.input-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: auto;
}
.input-box  input{
	width: 1000px;
	padding: 10px 30px;
    border-radius: 20px;
}


label {
	margin-left: 30px;
	margin-bottom: 30px;
	color: red;

}
textarea{
	resize: none;
	border-radius: 20px;
	height: 30px;
	border-bottom: 
}
button {
	background: none;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.spidervenom{
     display: flex;
     justify-content: space-between;
     align-items: baseline;

}

.spider{
	width: 400px;
	height: 300px;
}

.venom{
    width: 400px;
	height: 300px;
}


.spidertitle{
	         width: 400px;
	         color: red;
	         
	         
}

.venomtitle{
	      width: 400px;
	      color: red;
	      
	      }


.venomtitle:hover{
	color: white;
	width: 400px;
	border: solid;
	
}

.spidertitle:hover{
	color: white;
	width: 400px;
	border: solid; 
}
.blackwidowhawk{
              padding-top: 50px;
              display: flex;
              justify-content: space-between;
              align-items: baseline
}

.blackwidow img{
	  width: 400px;
	  height: 300px;     

}

.blackwidowtitle{
	         width: 400px;
	         color: red;
}


.hawk img{
	width: 400px;
	height: 300px;
}

.hawktitle {
	         width: 400px;
	         color: red;
}

.hawktitle:hover{
	color: white;
	width: 400px;
	border: solid;
	
}

.blackwidowtitle:hover{
	color: white;
	width: 400px;
	border: solid; 
}


.bolodiv{
	 
	 background-color: gray;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.trailers{
	          padding-top: 50px;
	          padding-bottom: 50px;
              display: flex;
              justify-content: space-between;
              align-items: baseline

}

@media only screen and (max-width:1024px) {
  
  .container {
    width: 80%;
    max-width: 800px;
  }
  body{background-image: url(../img/backs.jpg.); 
    background-size: contain;
    background-size: auto;
    background-attachment: fixed;

}


.endgame{
     
    display: flex;
	justify-content: center;
	height:300px;
	align-items: center;

}

.end{ 
	height: 300px;
	transition: all;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease;

}
    .spider{
	width: 270px;
	height: 100px;
}

.venom{
    width: 200px;
	height: 100px;
}


.spidertitle{
	         width: 250px;
	         color: red;
	         
	         
}

.venomtitle{
	      width: 250px;
	      color: red;
	      
	      }


.venomtitle:hover{
	color: white;
	width: 250px;
	border: solid;
	
}

.spidertitle:hover{
	color: white;
	width: 250px;
	border: solid; 
}
.blackwidowhawk{
              padding-top: 50px;
              display: flex;
              justify-content: space-between;
              align-items: baseline
}

.blackwidow img{
	  width: 250px;
	  height: 100px;     

}

.blackwidowtitle{
	         width: 200px;
	         color: red;
}


.hawk img{
	width: 250px;
	height: 100px;
}

.hawktitle {
	         width: 250px;
	         color: red;
}

.hawktitle:hover{
	color: white;
	width: 250px;
	border: solid;
	
}

.blackwidowtitle:hover{
	color: white;
	width: 250px;
	border: solid; 
}


.bolodiv{
	 
	 background-color: gray;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.trailers{
	          padding-top: 50px;
	          padding-bottom: 50px;
              display: flex;
              justify-content: space-between;
              align-items: baseline

}
.spidertrailer {
	width: 150px;
}

.blackwidowtrailer {
	width: 150px;
}
}